*body {
  font: 400 15px Lato, sans-serif;
  font-size: 16px;
  color: white;
  background-color: #61122f;
  /*font-family: 'Oxygen', sans-serif;*/
}

/** HEADER **/
#myNavbar {
  background-color: #FF742A; /*-orange, #f6b319;-yellow */
  border-radius: 0;
  border: 0;
}

#logo-img {
  background: url('https://mosonsgroup.in/home/images/mosons.png') no-repeat; /*mosons green logo*/
  width: 150px;
  height: 60px;
  margin: 10px 10px 10px 0px; /* top right bottom left */
}

navbar > li: hover {
  background-color: white;
  font-family: 'Oxygen', sans-serif;
  font-size: 32px;
}
/*.navbar-brand {
  padding-top: 25px;
}
*/
/*
.navbar-brand h1 { /* Restaurant name 
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
*/
/*
.navbar-brand p { /* Kosher cert 
  color: #000;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
}
.navbar-brand p span { /* Star-K 
  vertical-align: middle;
}
*/